.rolling-counter-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 180px;
}

.counter-number {
    position: relative;

    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(7rem, 15vw, 12rem);
    font-weight: 700;

    color: rgb(239, 235, 199);

    line-height: 1;
    user-select: none;
    white-space: nowrap;
    text-shadow: 0 0 25px rgba(255,255,255,.08);
}