.scroll-hint {
    position: absolute;
    transform: translateX(-50%);
    bottom: 50px;

    align-items: center;
    flex-direction: column;
    display: flex;

    color:rgb(176, 178, 224);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.1rem;

    will-change: opacity, transform, filter;

    z-index: 10;
}

.arrow {
    width: 12px;
    height: 12px;

    border-right: 2px solid rgb(176, 178, 224);;
    border-bottom: 2px solid rgb(176, 178, 224);;

    margin-top: 1px;
    z-index: 2;

}