.scroll-bar {
    position: fixed;
    background: linear-gradient(
    to right,
    rgb(24, 24, 92),
    rgb(79, 40, 218)
    );
    
    height: 4px;

    top: 0;
    left: 0;
    right: 0;

    transform-origin: left;

    z-index: 9999;
}