.scroll-gallery-section{
    background-color: black;
    min-height: 100vh;
    height: 400vh;
    overflow: hidden;
}

.scroll-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr;
    gap: 2rem;
    align-items: start;
    position: sticky;
    top: 10vh;
}

.gallery-columns {}

.scroll-gallery-wrapper{}

.scroll-gallery-wrapper.sm{}
.scroll-gallery-wrapper.md{}
.scroll-gallery-wrapper.lg{}
.scroll-gallery-wrapper.tall{}

.gallery-label {}

.gallery-label--top{}

.gallery-images{}