.scroll-gallery-section{
    background-color: black;
    min-height: 100vh;
    height: 400vh;
    overflow: hidden;
    align-items: center;
}

.scroll-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr;
    gap: 2rem;
    align-items: start;

    position: sticky;
    top: 10vh;
}

.gallery-columns {
    display: flex;
    flex-direction: column;
}

.scroll-gallery-wrapper{
    display: flex;
}

.scroll-gallery-wrapper.sm .gallery-images{ height: 250px;}
.scroll-gallery-wrapper.md .gallery-images{ height: 380px; }
.scroll-gallery-wrapper.lg .gallery-images{ height: 500px; }
.scroll-gallery-wrapper.tall .gallery-images{ height: 600px; }

.gallery-label {
    font-size: 0.7rem;
    font-family: "Space Grotesk", sans-serif;
    color:rgb(126, 128, 140);
}

.gallery-label--top{ order: -1;}

.gallery-images{
    overflow: hidden;
    width: 100%;
}

.gallery-images img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}