.scroll-hint {
    position: absolute;
    transform: translateX(-50%);
    bottom: 50px;

    align-items: center;
    flex-direction: column;
    display: flex;

    color: rgb(176, 178, 224);
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(1rem, 1vw + 0.8rem, 1.3rem);

    will-change: opacity, transform, filter;

    z-index: 10;
}

.arrow {
    width: clamp(1rem, 1vw + 0.7rem, 0.8rem);
    height: clamp(1rem, 1vw + 0.7rem, 0.8rem);

    border-right: 1px solid rgb(176, 178, 224);
    border-bottom: 1px solid rgb(176, 178, 224);

    margin-top: 1px;
    z-index: 2;
}