.donuts {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-video {
    position: absolute;
    object-fit: cover;
    object-position: center 20%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    transition: filter 0.15s linear, transform 0.15s linear;
    z-index: 0;
}

.fade-overlay {
    position: absolute;
    inset: 0;
    background: black;
    pointer-events: none;
    z-index: 1;
}

/*black gradient fade once the video is scrolled down*/
.donuts::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;

    background: linear-gradient(
        to bottom, 
        transparent 0%,
        transparent 20%,
        rgba(0,0,0,0.3) 50%,
        rgba(0,0,0,0.7) 75%,
        black 100%
        );

    pointer-events: none;
    z-index: 8;
}

.scroll-fade-overlay {
    position: absolute;
    inset: 0;
    background: black 100%;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.1s ease-out;
}

/*noise overlay used for the video intro portion*/
.noise-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  opacity: 0.35;
  mix-blend-mode: multiply;

  z-index: 3;
}

/*blue/red gradient overlay for the video*/
.intro-gradient {
    position: absolute;
    inset: 0;

    pointer-events: none;
    z-index: 4;

    mix-blend-mode: overlay;
    background-blend-mode: overlay;

    will-change: transform;
    transform: translateZ(0);

    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);

    background-image:

        linear-gradient(to bottom, rgba(6, 11, 67, 0.25), transparent),

        radial-gradient(
            circle at calc(50% + var(--x)) calc(30% + var(--y)),
            rgba(21, 60, 253, 0.611),
            transparent 75%
        ),

        radial-gradient(
            circle at calc(70% - var(--x)) calc(20% - var(--y)),
            rgba(248, 73, 10, 0.411),
            transparent 70%
        ),

        linear-gradient(
            60deg, rgba(255, 0, 0, 0.25), rgba(17, 0, 255, 0.35)
        );
}

/*Red Bull logo flash effect when the video fades out briefly*/
.rb-logo-flash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    z-index: 5;
    pointer-events: none;
}

.rb-logo-img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
}

.rb-sweep-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.rb-sweep {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        100deg,
        transparent 0%,
        rgba(30, 34, 150, 0.575) 49%,
        rgba(13, 8, 163, 0.795) 50%,
        rgba(30, 34, 150, 0.575) 51%,
        transparent 100%
    );
    pointer-events: none;
}