.intro-gradient {
    position: absolute;
    inset: 0;

    pointer-events: none;
    z-index: 3;

    mix-blend-mode: overlay;
    background-blend-mode: overlay;

    will-change: transform;
    transform: translateZ(0);

    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);

    background-image:

        linear-gradient(to bottom, rgba(6, 11, 67, 0.25), transparent),

        radial-gradient(
            circle at calc(50% + var(--x)) calc(30% + var(--y)),
            rgba(21, 60, 253, 0.397),
            transparent 60%
        ),

        radial-gradient(
            circle at calc(70% - var(--x)) calc(20% - var(--y)),
            rgba(248, 73, 10, 0.411),
            transparent 65%
        ),

        linear-gradient(
            60deg, rgba(255, 0, 0, 0.25), rgba(17, 0, 255, 0.35)
        );
}