.intro-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    z-index: 10;
    width: 100%;
    max-width: 1400px;

    will-change: opacity, filter, margin-top;
}

.intro-subtitle {
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.2;
    z-index: 2;
}

text {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}