.intro-screen {
    object-fit: cover;
    object-position: center;

    color: black;
    display: flex;
    z-index: 9999;
}

.intro-logo {
    width: 200px;
    height: auto;
    margin-right: 20px;
    position: center;
    z-index: 1000;
}