.intro-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    z-index: 10;
    width: 90%;
    max-width: 1100px;

    z-index: 2;
}

.intro-subtitle {
    color:rgb(239, 235, 199);
    white-space: nowrap;
    font-size: 1.3rem;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 10px;
}

text {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

